<!DOCTYPE html>
<html>
<head>
    <title>Liste des enseignants</title>
</head>
<body>
    <h1>Liste des enseignants</h1>
    <p>Utilisateur connecté : {{ user.username }}</p>
    <a href="{% url 'ajouter_enseignant' %}">Ajouter un enseignant</a>
    <a href="{% url 'liste_cours' %}">Voir les cours</a>
    <a href="{% url 'deconnexion' %}">Se déconnecter</a>
    <ul>
        {% for e in enseignants %}
        <li>
            {{ e.nom }} - Spécialité : {{ e.specialite }}
            <a href="{% url 'modifier_enseignant' e.id %}">Modifier</a>
            <a href="{% url 'supprimer_enseignant' e.id %}">Supprimer</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
